<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
            <meta charset="UTF-8">
            <link rel="shortcut  icon" href="favicon.ico" th:href="@{favicon.ico}"/>
            <title>Yourganizer</title>
            <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}">
    </head>
    <body class="my-body">
         <div class="logoContainer">
            <a th:href="@{choise.html}">
                <img th:src="@{/../static/images/logoDuze.png}" />
            </a>
         </div>
    </body>
</html>