<!DOCTYPE html>
<head>
        <meta charset="UTF-8">
        <link rel="icon" href="C:\Projects\Yourganizer\logoIcon.ico"/>
        <title img="C:\Projects\Yourganizer\logoMale.png">Yourganizer</title>
        <link rel="stylesheet" href="CSS\css.css"/>
</head>
<hmtl>
    <body class="my-body" background="C:\Projects\Yourganizer\background.jpg">
            <div class="loginContainer">
                    <p class="block-heading">
                        Logowanie
                    </p>
                    <br />

                    <input class="block" placeholder="Email lub login">
                    <br />

                    <input type="password" class="block" placeholder="Hasło">
                    <br />

                    <button class="block" type="button">
                            <a class="my-ref" href="mainPage.html">
                            Zaloguj
                            </a>
                    </button><br />

                    <button class="block" type="button">
                            <a class="my-ref" href="../../../../../Yourganizer(template)/Templates/servicePasswrd.html">
                            Nie pamiętam hasła
                            </a>
                    </button><br />
       
                 </div> 
        </div> 
    </body>
</hmtl>
